@charset "UTF-8";

@media screen and (max-width: 500px) {
    #form_container {
        width: 100%;
        min-height: 100vh;
        padding: 30px;
        border-radius: 0;
    }

    #input_container {
         display: flex;
         flex-direction: column;
         gap: 38px;
    }

    .btn-default {
        display: flex;
        align-self: center;
    }
}